/*************
 ** Imports **
 *************/

	@import "setup";
	@import "fonts";

/*************
 ** Default **
 *************/

	// ::-moz-selection { background: $orange; color: #fff; }
	// ::selection      { background: $orange; color: #fff; }

	html, body {
		width: 100%;
		overflow-x: hidden;
	}

	body {
		min-height: 100vh;
		margin: 0;
		// font-family: $SG;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}

	a {
		text-decoration: none;
	}

	input,button,select,textarea {
		padding: 0;
		// font-family: $SG;
		border: none;
		border-radius: 0;
		box-sizing: border-box;
		-webkit-appearance: none;

		&:focus {
			outline: 0;
		}
	}

	button, select {
		background: none;
		cursor: pointer;
	}

/***********
 ** 768px **
 ***********/

	@media #{$mq-small} {



	} // end $small


/************
 ** 1024px **
 ************/

	@media #{$mq-medium}, print {



	} // end $medium


/************
 ** 1280px **
 ************/

	@media #{$mq-large} {



	} // end $large


/************
 ** 1760px **
 ************/

	@media #{$mq-largest} {



	}  // end $largest


/*************
 ** Imports **
 *************/

	@import "layouts/_header";
	@import "layouts/_footer";
