/***********
 ** Fonts **
 ***********/

// $path: "/assets/fonts/SpaceGrotesk";

/* Space Grotesk */

// @font-face {
//     font-family: 'Space Grotesk';
//     font-weight: 500;
//     src: url('#{$path}-Medium.eot');
//     src: url('#{$path}-Medium.eot?#iefix') format('embedded-opentype'),
//         url('#{$path}-Medium.woff2') format('woff2'),
//         url('#{$path}-Medium.woff') format('woff'),
//         url('#{$path}-Medium.ttf')  format('truetype'),
//         url('#{$path}-Medium.svg#svgSpaceGrotesk') format('svg');
// }

// @font-face {
//     font-family: 'Space Grotesk';
//     font-weight: 600; 
//     src: url('#{$path}-SemiBold.eot');
//     src: url('#{$path}-SemiBold.eot?#iefix') format('embedded-opentype'),
//         url('#{$path}-SemiBold.woff2') format('woff2'),
//         url('#{$path}-SemiBold.woff') format('woff'),
//         url('#{$path}-SemiBold.ttf')  format('truetype'),
//         url('#{$path}-SemiBold.svg#svgSpaceGrotesk') format('svg');
// }

// @font-face {
//     font-family: 'Space Grotesk';
//     font-weight: 700; 
//     src: url('#{$path}-Bold.eot');
//     src: url('#{$path}-Bold.eot?#iefix') format('embedded-opentype'),
//         url('#{$path}-Bold.woff2') format('woff2'),
//         url('#{$path}-Bold.woff') format('woff'),
//         url('#{$path}-Bold.ttf')  format('truetype'),
//         url('#{$path}-Bold.svg#svgSpaceGrotesk') format('svg');
// }

/* Font Awesome */

    $fa-font-path: "/assets/fonts/FontAwesome/";

    @import "fontawesome/fontawesome.scss";
    @import "fontawesome/fa-brands.scss";
    @import "fontawesome/fa-light.scss";
    @import "fontawesome/fa-regular.scss";
    @import "fontawesome/fa-solid.scss";

/*!
 * The rest of the CSS
 */
