/***************
 ** Functions **
 ***************/

@function mob($target) {
  $vw-context: (320 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function tab($target) {
  $vw-context: (1024 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function des($target) {
  $vw-context: (1440 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

/*******************
 ** Media Queries **
 *******************/

	$mq-screen: 'screen';                        
	$mq-small: 'screen and (min-width: 768px)'; 
	$mq-medium: 'screen and (min-width: 1024px)'; 
	$mq-large: 'screen and (min-width: 1280px)'; 
	$mq-largest: 'screen and (min-width: 1760px)';


/************
 ** Mixins **
 ************/

  @mixin placeholder($selector) {
    #{$selector}::-webkit-input-placeholder {
      @content;
    }
    #{$selector}::-moz-placeholder {
      @content;
    }
    #{$selector}:-moz-placeholder {
      @content;
    }
    #{$selector}:-ms-input-placeholder {
      @content;
    }
  }


/***************
 ** Variables **
 ***************/

$white: #f4f4f4;
$black: #222222;
// $orangeDark: #ea6953;
// $orangeLight: #f9a26c;
// $blueLight: #84B7D2;
// $blueDark: #6183ab;

// $SG: 'Space Grotesk', sans-serif;
// $arial: 'Arial', sans-serif;
